doctype html
html(lang="ru-RU")
  include ./common/_header.pug
  body

    .wrapper
      .main-content
        h1 Error
        p= status
        p= error 

    include ./common/_footer.pug  
        
         